$square-size: 56px;
$squares-per-row: 11;
$squares-per-col: 2;
$white: #FFFFFF;

.board-square {
    position: relative;
    width: $square-size;
    height: $square-size;
    background: $white;
    border-top: 1px solid #AAA;
    border-left: 1px solid #AAA;

    &.dragged-over {
        background: darken($white, 8%);
    }

    // Only the right-edge ones should have a right border
    &:nth-child(#{$squares-per-row}n + 1) {
        border-right: 1px solid #AAA;
    }
    // Only the bottom row should have a bottom border.
    &:nth-child(n+#{$squares-per-row * $squares-per-col - $squares-per-row + 2}) {
        border-bottom: 1px solid #AAA;
    }
}
